<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory >
  <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
  <property name="hibernate.connection.password">dul6078</property>
  <property name="hibernate.connection.url">jdbc:oracle:thin:@192.11.14.54:1521:orcl</property>
  <property name="hibernate.connection.username">TAKION77</property>
  <property name="hibernate.default_schema">TAKION77</property>
  <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
  
  <mapping class="com.eugene.element.BaseDate"/>
  <mapping class="com.eugene.element.Product"/>
  <mapping class="com.eugene.element.Dealer"/>
  <mapping class="com.eugene.element.LgdSeg"/>
  <mapping class="com.eugene.element.PdSeg"/>
  
  <mapping class="com.eugene.element.Portfolio"/>
  <mapping class="com.eugene.element.PortfolioDeatilId"/>
  <mapping class="com.eugene.element.PortfolioDeatil"/>
  <mapping class="com.eugene.element.PortfolioHisId"/>
  <mapping class="com.eugene.element.PortfolioHis"/>
  <mapping class="com.eugene.element.PortfolioLossId"/>
  <mapping class="com.eugene.element.PortfolioLoss"/>
  
   <mapping class="com.eugene.element.Position"/>
   <mapping class="com.eugene.element.PositionDetailId"/>
   <mapping class="com.eugene.element.PositionDetail"/>   
   <mapping class="com.eugene.element.PositionHisId"/>
   <mapping class="com.eugene.element.PositionHis"/>
   <mapping class="com.eugene.element.PositionLossId"/>
   <mapping class="com.eugene.element.PositionLoss"/>
  
 </session-factory>
</hibernate-configuration>
